styles.css

body {
	background-color: #ccffff;
}

h1 {
	color: black;
	text-align:center;
	font-family: "Book Antiqua";
	font-style: normal;
	font-size: 40px;

}
h2 {
	color: black;
	font-family: "Book Antiqua";
	font-size:30px;
	text-align: center;

}
h3 {
	color: black;
	font-family: "Book Antiqua";
	font-size:20px;
	text-align: center;

}

p {
	color: black;
	font-family: "Georgia";
	font-style: normal;
	font-size: 15px;
}

li {
	color: black;
	font-family: "Georgia";
	font-style: normal;
	font-size: 15px;
}

a {
	color: blue;
	font-family: "Georgia";
	font-style: normal;
	font-size: 17px;
}

#picture {
	text-align: center;
}

#resume {
	font-size: 17px;
}

.bold {
	font-weight: bold;
}
.center{
	margin: auto;
    width: 60%;
}



