body {
	background-color: #ccffff
}
h1 {
	color: black;
	text-align:center;
	font-family: "Book Antiqua";
	font-style: normal;
	font-size: 40px;

}
h2 {
	color: black;
	font-family: "Book Antiqua";
	font-size:30px;
	text-align: center;

}
h3 {
	color: black;
	font-family: "Book Antiqua";
	font-size:20px;
	text-align: center;

}
p {
	color: black;
	font-family: "Georgia";
	font-style: normal;
	font-size: 15px;
}
li {
	color: black;
	font-family: "Georgia";
	font-style: normal;
	font-size: 15px;
}
a {
	color: blue;
	font-family: "Book Antiqua";
	font-style: normal;
	font-size: 17px;
	text-align: center;
}
.image {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.resume_center{
	width: 500px;
	margin: 0 auto;
	text-align: left;
}

#links{
	margin:0 auto;
	width: 60%;
	border: 3px solid #330099;
	padding:10px;
	text-align: center;

}





